

.form-layout{

    border-radius: 20px;
    width: 500px;
    
}

.message-text{

    color: white;
}

.profile-pic {

    width:70px;
    
    height:70px;
    
    object-fit:cover;
    
    object-position:top;
    
}



