{% extends 'journal/navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <br>
    
    <div class="container bg-white shadow-md p-5 form-layout">
   
        <h1> Update Thought </h1>
        <p> Change your thought here</p>

        <form method="POST" autocomplete="off">

            {% csrf_token %}
            
            {{UpdateThought|crispy}}

            <br>

            <button class="btn btn-outline-primary btn-md w-100 btn-block p-3"type="submit"> Update Thought </button>

        </form>

        <a href="{% url 'my-thoughts' %}">Return to thoughts</a>
        

    </div>
    
    <br>

{% endblock %}





